@import "./variables.css";

/* ===========================================================
   NAVBAR — ÍCONO HAMBURGUESA PERSONALIZADO
   =========================================================== */

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%235F9EA0' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
  border-color: var(--color-principal) !important;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.2rem rgba(95, 158, 160, 0.4) !important;
}
